.dart_tool/
build/
ios/.generated/
.packages
pubspec.lock
.flutter-plugins
.vscode/
.idea
*.iml
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
ios/Flutter/Generated.xcconfig

# Temp files in Example
/example/.DS_Store
/example/.atom/
/example/.idea
/example/.packages
/example/.pub/
/example/build/
/example/ios/.generated/
/example/packages
/example/pubspec.lock
/example/.flutter-plugins
/example/.vscode/
/example/.flutter-plugins-dependencies
/example/ios/Flutter/flutter_export_environment.sh
/example/ios/Flutter/Flutter.podspec
