.dart_tool/
build/
ios/.generated/
.packages
# TODO: document why we don't want this file
pubspec.lock
.flutter-plugins
.vscode/
.idea
*.iml
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
ios/Flutter/Generated.xcconfig
